@model IEnumerable<OctagonPlatform.Models.PartnerContact>

@foreach (var item in Model)
{
    <tr class="info">
        <td>@item.Partner.BusinessName</td>
        <td>@item.Name</td>
        <td>@item.LastName</td>
        <td>@item.Phone</td>
        <td>@item.Email</td>
        <td>@item.Address1</td>
        <td>@Html.ActionLink("Edit", "Edit", new { id = item.Id })</td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { id = item.Id },
                new { onclick = "return confirm('Are sure wants to delete?');" })
        </td>
    </tr>
}
