@model OctagonPlatform.Models.FormsViewModels.TerminalFormViewModel

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdminSB.cshtml";
}

<h3 class="alert-danger">Delete Terminal</h3>

<h3 class="alert-warning">Are you sure you want to delete this?</h3>
<div>
<dl class="dl-horizontal">
<dt>
    Terminal
</dt>

<dd>
    @Html.DisplayFor(model => model.Id)
</dd>
    <dt>
        Partner
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Partner.BusinessName)
    </dd>
    <dt>
        City
    </dt>

    <dd>
        @Html.DisplayFor(model => model.City.Name)
    </dd>

    <dt>
        Country
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Country.Name)
    </dd>
    <dt>
        State
    </dt>

    <dd>
        @Html.DisplayFor(model => model.State.Name)
    </dd>


    <dt>
        Location
    </dt>

    <dd>
        @Html.DisplayFor(model => model.LocationType.Name)
    </dd>

    <dt>
        Make
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Make.Name)
    </dd>

    <dt>
        Model
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Model.Name)
    </dd>

    
    <dt>
        @Html.DisplayNameFor(model => model.Phone)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Phone)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Status)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Status)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.CommunicationType)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.CommunicationType)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Address1)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Address1)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Address2)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Address2)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Zip)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Zip)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.EmvReady)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.EmvReady)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.MachineSerialNumber)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.MachineSerialNumber)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.VeppSerialNumber)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.VeppSerialNumber)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.SoftwareVersion)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.SoftwareVersion)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.FimwareVersion)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.FimwareVersion)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.SurchargeType)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.SurchargeType)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.SurchargeByPercent)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.SurchargeByPercent)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.SettledType)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.SettledType)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.WhoInitiates)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.WhoInitiates)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.CryptoPercentChargeAmount)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.CryptoPercentChargeAmount)
    </dd>

</dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-group">
            <input type="submit" value="Delete" class="btn btn-primary"/> |
            <button type="reset" onclick="history.back();" class="btn btn-default">Cancel</button>
        </div>
    }
</div>
