@model OctagonPlatform.Models.Terminal

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdminSB.cshtml";
}
<h3 class="alert-info">Terminal: <strong class="alert-info">@Model.Id</strong></h3>
<br />
<hr />
<p>
    <label for="amount">Price range:</label>
    <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
</p>

<div id="slider-range"></div>


<br />
@Html.ActionLink(linkText: "View messages", actionName: "Index", controllerName: "TerminalMessages", routeValues: new
{
    terminalId = Model.TerminalId
}, htmlAttributes: null)

<div class="panel-group" style="width: 33%; float:right;">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="alert-info">@Ajax.ActionLink("Config Notification", "ConfigNotification", "Terminals", new { id = Model.Id }, new AjaxOptions { UpdateTargetId = "getConfigNotification", InsertionMode = InsertionMode.Replace, HttpMethod = "Post" }, htmlAttributes: new { @class = "link", data_toggle = "collapse", data_target = "#getConfigNotification" })</h3>

            <div id="getConfigNotification" class="panel-collapse collapse">
                <img id="loading4" style="display:none" src="~/Content/loading_icon.gif" alt="" />
            </div>
        </div>
    </div>
</div>
<div class="panel-group" style="width: 33%;">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="alert-info">@Ajax.ActionLink("General Info", "GeneralInfo", "Terminals", new { terminalId = Model.Id }, new AjaxOptions { UpdateTargetId = "getGeneralInfo", LoadingElementId = "loading3", InsertionMode = InsertionMode.Replace, HttpMethod = "Post" }, htmlAttributes: new { @class = "link", data_toggle = "collapse", data_target = "#getGeneralInfo" })</h3>

            <div id="getGeneralInfo" class="panel-collapse collapse">
                <img id="loading3" style="display:none" src="~/Content/loading_icon.gif" alt="" />
            </div>
        </div>
    </div>
</div>
<br />
<hr />
<br />
<div id="cassettes">
    @Html.Partial("Sections/Cassettes", Model)
</div>
<br />
<hr />
<br />
<div id="terminalStatistics">
    @Html.Partial("Sections/TerminalStatistics", Model)
</div>
<br />
<hr />
<br />
<div id="documents">
    @Html.Partial("Sections/Documents", Model)
</div>
<br />
<hr />
<br />
<div id="notes">
    @Html.Partial("Sections/Notes", Model)
</div>
<br />
<hr />
<br />
<div class="panel-group" style="width: 100%;">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="alert-info">@Ajax.ActionLink("Contacts", "Contacts", "Terminals", new { terminalId = Model.Id }, new AjaxOptions { UpdateTargetId = "getContacts", LoadingElementId = "loading2", InsertionMode = InsertionMode.Replace, HttpMethod = "Post" }, htmlAttributes: new { @class = "link", data_toggle = "collapse", data_target = "#getContacts" })</h3>

            <div id="getContacts" class="panel-collapse collapse">
                <img id="loading2" style="display:none" src="~/Content/loading_icon.gif" alt="" />
            </div>
        </div>
    </div>
</div>
<br />
<hr />
<br />
<div class="panel-group" style="width: 100%;">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="alert-info">@Ajax.ActionLink("Vault Cash", "Index", "VaultCash", new { terminalId = Model.Id }, new AjaxOptions { UpdateTargetId = "getVaultcash", LoadingElementId = "loading1", InsertionMode = InsertionMode.Replace, HttpMethod = "Post" }, htmlAttributes: new { @class = "link", data_toggle = "collapse", data_target = "#getVaultcash" })</h3>

            <div id="getVaultcash" class="panel-collapse collapse">
                <img id="loading1" style="display:none" src="~/Content/loading_icon.gif" alt="" />
            </div>
        </div>
    </div>
</div>
<br />
<hr />
<br />
<div class="panel-group" style="width: 100%;">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="alert-info">@Ajax.ActionLink("Surcharges", "Index", "Surcharge", new { terminalId = Model.Id }, new AjaxOptions { UpdateTargetId = "getSurcharge", LoadingElementId = "loading5", InsertionMode = InsertionMode.Replace, HttpMethod = "Post" }, htmlAttributes: new { @class = "link", data_toggle = "collapse", data_target = "#getSurcharge" })</h3>

            <div id="getSurcharge" class="panel-collapse collapse">
                <img id="loading5" style="display:none" src="~/Content/loading_icon.gif" alt="" />
            </div>
        </div>
    </div>
</div>
<br />
<hr />
<br />
<div id="interchanges">
    @Html.Partial("Sections/Interchanges", Model)
</div>
<hr />
<br />
<div id="cashManagment">
    @Html.Partial("Sections/CashManagment", Model)
</div>
<br />
<hr />
<br />
<div id="transactions">
    @Html.Partial("Sections/Transactions", Model)
</div>
<br />
<hr />
<br />
<div id="disputes">
    @Html.Partial("Sections/Disputes", Model)
</div>
<br />
<hr />
<br />

@section Scripts {
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")

}

<!-- load jQuery 1.3.2 -->
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script type="text/javascript">
    var jQuery_1_12_4 = $.noConflict(true);
</script>
<script>

    jQuery_1_12_4(function () {
        $("#slider-range").slider({
            range: true,
            min: 0,
            max: 24,
            values: [8, 13],
            slide: function (event, ui) {
                $("#amount").val("H " + ui.values[0] + ":00 - H " + ui.values[1]+":00");
            }
        });
        $("#amount").val("H " + $("#slider-range").slider("values", 0) + ":00" +
            " - H " + $("#slider-range").slider("values", 1)+":00");
    });
</script>