@model OctagonPlatform.Models.Terminal

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdminSB.cshtml";
}

<h3 class="alert-info">Terminal: <strong class="alert-info">@Model.Id</strong></h3>
<br />
<hr />
<br />

<div class="panel-group" style="width: 33%; float:right;">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="alert-info">@Ajax.ActionLink("Config Notification", "ConfigNotification", "Terminals", new { terminalId = Model.Id }, new AjaxOptions { UpdateTargetId = "getConfigNotification", InsertionMode = InsertionMode.Replace, HttpMethod = "Post" }, htmlAttributes: new { @class = "link", data_toggle = "collapse", data_target = "#getConfigNotification" })</h3>
            
            <div id="getConfigNotification" class="panel-collapse collapse">

            </div>
        </div>
    </div>
</div>

<div class="panel-group" style="width: 33%;">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="alert-info">@Ajax.ActionLink("General Info", "GeneralInfo", "Terminals", new { terminalId = Model.Id }, new AjaxOptions { UpdateTargetId = "getGeneralInfo", InsertionMode = InsertionMode.Replace, HttpMethod = "Post" }, htmlAttributes: new { @class = "link", data_toggle = "collapse", data_target = "#getGeneralInfo" })</h3>

            <div id="getGeneralInfo" class="panel-collapse collapse">

            </div>
        </div>
    </div>
</div>
<br />
<hr />
<br />
<div id="cassettes">
    @Html.Partial("Sections/Cassettes", Model)
</div>
<br />
<hr />
<br />
<div id="terminalStatistics">
    @Html.Partial("Sections/TerminalStatistics", Model)
</div>
<br />
<hr />
<br />
<div id="documents">
    @Html.Partial("Sections/Documents", Model)
</div>
<br />
<hr />
<br />
<div id="notes">
    @Html.Partial("Sections/Notes", Model)
</div>
<br />
<hr />
<br />
<div class="panel-group" style="width: 100%;">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="alert-info">@Ajax.ActionLink("Contacts", "Contacts", "Terminals", new { terminalId = Model.Id }, new AjaxOptions { UpdateTargetId = "getContacts", InsertionMode = InsertionMode.Replace, HttpMethod = "Post" }, htmlAttributes: new { @class = "link", data_toggle = "collapse", data_target = "#getContacts" })</h3>

            <div id="getContacts" class="panel-collapse collapse">

            </div>
        </div>
    </div>
</div>
<br />
<hr />
<br />
<div class="panel-group" style="width: 100%;">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="alert-info">@Ajax.ActionLink("Vault Cash", "Index", "VaultCash", new { terminalId = Model.Id }, new AjaxOptions { UpdateTargetId = "getVaultcash", LoadingElementId = "loading1", InsertionMode = InsertionMode.Replace, HttpMethod = "Post" }, htmlAttributes: new { @class = "link", data_toggle = "collapse", data_target = "#getVaultcash" })</h3>

            <div id="getVaultcash" class="panel-collapse collapse">
                <img id="loading1" style="display:none" src="~/Content/loading_icon.gif" alt="" />
            </div>
        </div>
    </div>
</div>
<br />
<hr />
<br />
<div id="surcharges">
    @Html.Partial("Sections/SurchargeSplits", Model)
</div>
<br />
<hr />
<br />
<div id="interchanges">
    @Html.Partial("Sections/Interchanges", Model)
</div>
<hr />
<br />
<div id="cashManagment">
    @Html.Partial("Sections/CashManagment", Model)
</div>
<br />
<hr />
<br />
<div id="transactions">
    @Html.Partial("Sections/Transactions", Model)
</div>
<br />
<hr />
<br />
<div id="disputes">
    @Html.Partial("Sections/Disputes", Model)
</div>
<br />
<hr />
<br />

@section Scripts {
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
}
