@model OctagonPlatform.Models.FormsViewModels.DisputeViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdminSB.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Dispute</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Terminal.TerminalId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Terminal.TerminalId)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.Viewed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Viewed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MessageNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MessageNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NetworkAdjustmentId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NetworkAdjustmentId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Network)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Network)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DisputeType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DisputeType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SecuenceNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SecuenceNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AmountRequested)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AmountRequested)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DisputedAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DisputedAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastDayToRepresent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastDayToRepresent)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
