@model IEnumerable<OctagonPlatform.Models.ReportGroupModel>

@{
    ViewBag.Title = "Index";
}
@Styles.Render("~/bundles/selectmulticss")
<div class="row">
    <div class="col-md-4">
        <figure class="highlight">
          
            <p><b>Reporting Groups</b></p>
            <p>Enter new group name and click.</p>
            <div class="row">
                <div class="col-lg-8">
                    <form id="frmgroup">
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">


                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">

                                <div class="col-md-12">
                                    @Html.Editor("name", new { htmlAttributes = new { @class = "form-control" ,@placeholder = "Name Group",@style="width:100%" } })
                                    @Html.ValidationMessage("", "", new { @class = "text-danger" })
                                </div>
                            </div>


                        </div>
                    </form>
                    <div id="groups">


                        <div class='custom-header'>
                            <ol class="breadcrumb" style="margin:0;background-color: #00a8e1;border-radius: 0;">
                                <li><a href='#' id='select-all' style="color:white">Select All</a></li>
                                <li><a href='#' id='deselect-all' style="color:white">None </a></li>
                                <li><a href='#' id='DeleteGroup' style="color:white">Delete </a></li>
                            </ol>
                        </div>
                        <select id='public-methods' multiple='multiple'>

                            @foreach (var item in Model)
                                        {
                        <option value='@item.Id'>@item.Name</option>

                                        }
                        </select>

                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="button" value="Create" class="btn btn-primary" id="CreateGroup" />
                        </div>
                    </div>

                </div>
            </div>
        </figure>
    </div>
    <div class="col-md-8">
        <figure class="highlight">
            Asignar terminales a un grupo
        </figure>
    </div>

</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/selectmulti")

    <script>

        $(function () {

            var listid = [];

            $("#CreateGroup").click(function () {

                $.post('@Url.Action("Create", "ReportGroup")', $('#frmgroup').serialize(), function(data) {

                $('#public-methods').selectMultiple('addOption', { value: data.Id, text: data.Name, index: 0 });
            },'json');
        });
         $("#DeleteGroup").click(function(){

             $.post('@Url.Action("DeleteAjax", "ReportGroup")', { Ids: listid.toString() }, function (data) {

                 for (var i = 0; i < data.length; i++) {
                     $("#public-methods option[value='" + data[i] + "']").remove();
                 }
                 $('#public-methods').selectMultiple('refresh');
            },'json');
         });

        //Select multiple
         $('#public-methods').selectMultiple({

            afterSelect: function (values) {
                listid.push(parseInt(values, 10));
            },
            afterDeselect: function (values) {
                var index = listid.indexOf(parseInt(values));
                if (index > -1) {
                    listid.splice(index, 1);
                }

            }

         });

        $('#select-all').click(function () {
            $('#public-methods').selectMultiple('select_all');
            return false;
        });
        $('#deselect-all').click(function () {
            $('#public-methods').selectMultiple('deselect_all');
            return false;
        });


        //end

    });

    </script>

}


