@model OctagonPlatform.Models.Partner
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdminSB.cshtml";
}

<h1>@Model.BusinessName Overview</h1>


   <img src="~/Uploads/@Model.Logo" width="200" height="100" alt="" class="img-responsive img-rounded">

<br/>
<div>
    @Html.ActionLink("Upload logo", "Index", "Logos", new { partnerId = @Model.Id, error = ""}, "")
</div>
<div id="generalInfo">
    @Html.Partial("Sections/GeneralInfo")
</div>
<div id="contacts">
    @Html.Partial("Sections/Contacts")
</div>
<div id="users">
    @Html.Partial("Sections/Users")
</div>
<div id="partners">
    @Html.Partial("Sections/Partners")
</div>
<div id="bankAccounts">
    @Html.Partial("Sections/BankAccounts")
</div>
<div id="terminals">
    @Html.Partial("Sections/Terminals")
</div>
