@model OctagonPlatform.Models.Partner
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdminSB.cshtml";
}
<br/>
<br/>
<br/>
<br/>
<br/>
<h1 class="page-header">@Model.BusinessName</h1>
<div class="rowDetail">
    <div class="col-md-4">
        <div class="panel-group" style="width: 100%;">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="texth3"><i class="fa fa-pie-chart" style="font-size:25px;color:#4776a1"></i> @Ajax.ActionLink("General Info", "GeneralInfo", "Partners", new { partnerId = Model.Id }, new AjaxOptions { UpdateTargetId = "getGeneralInfo", LoadingElementId = "loading1", InsertionMode = InsertionMode.Replace, HttpMethod = "Post" }, htmlAttributes: new { @class = "link", data_toggle = "collapse", data_target = "#getGeneralInfo" })</h3>

                    <div id="getGeneralInfo" class="panel-collapse collapse">
                        <div class="loader"></div>
                    </div>
                </div>
            </div>
        </div>
       
        <div class="panel-group" style="width: 100%;">
            <div class="panel panel-default">
                <div class="panel-heading">
                   <h3 class="texth3"><i class="fa fa-list" style="font-size:25px;color:#4776a1"></i> @Ajax.ActionLink("Contacts", "Contacts", "Partners", new { partnerId = Model.Id }, new AjaxOptions { UpdateTargetId = "getContacts", LoadingElementId = "loading2", InsertionMode = InsertionMode.Replace, HttpMethod = "Post" }, htmlAttributes: new { @class = "link", data_toggle = "collapse", data_target = "#getContacts" })</h3>
                    <div id="getContacts" class="panel-collapse collapse">
                        <div class="loader"></div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="panel-group" style="width: 100%;">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="texth3"><i class="fa fa-group" style="font-size:25px;color:#4776a1"></i> @Ajax.ActionLink("Partners", "Partners", "Partners", new { partnerId = Model.Id }, new AjaxOptions { UpdateTargetId = "getPartners", LoadingElementId = "loading3", InsertionMode = InsertionMode.Replace, HttpMethod = "Post" }, htmlAttributes: new { @class = "link", data_toggle = "collapse", data_target = "#getPartners" })</h3>

                    <div id="getPartners" class="panel-collapse collapse">
                        <div class="loader"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-4">
        <div class="panel-group" style="width: 100%;">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="texth3"><i class="fa fa-bank" style="font-size:25px;color:#4776a1"></i> @Ajax.ActionLink("Bank Accounts", "BankAccounts", "Partners", new { partnerId = Model.Id }, new AjaxOptions { UpdateTargetId = "getBankAccounts", LoadingElementId = "loading4", InsertionMode = InsertionMode.Replace, HttpMethod = "Post" }, htmlAttributes: new { @class = "link", data_toggle = "collapse", data_target = "#getBankAccounts" })</h3>

                    <div id="getBankAccounts" class="panel-collapse collapse">
                        <div class="loader"></div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="panel-group" style="width: 100%;">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="texth3"><i class="fa fa-desktop" style="font-size:25px;color:#4776a1"></i> @Ajax.ActionLink("Terminals", "Terminals", "Partners", new { partnerId = Model.Id }, new AjaxOptions { UpdateTargetId = "getTerminals", LoadingElementId = "loading5", InsertionMode = InsertionMode.Replace, HttpMethod = "Post" }, htmlAttributes: new { @class = "link", data_toggle = "collapse", data_target = "#getTerminals" })</h3>

                    <div id="getTerminals" class="panel-collapse collapse">
                        <div class="loader"></div>
                    </div>
                </div>
            </div>
        </div>
       
        <div class="panel-group" style="width: 100%;">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="texth3"><i class="fa fa-male" style="font-size:25px;color:#4776a1"></i> @Ajax.ActionLink("Users", "Users", "Partners", new { partnerId = Model.Id }, new AjaxOptions { UpdateTargetId = "getUsers", LoadingElementId = "loading6", InsertionMode = InsertionMode.Replace, HttpMethod = "Post" }, htmlAttributes: new { @class = "link", data_toggle = "collapse", data_target = "#getUsers" })</h3>

                    <div id="getUsers" class="panel-collapse collapse">
                        <div class="loader"></div>
                        <!-- <img id="loading6" style="display:none" src="~/Content/loading_icon.gif" alt="" />-->
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="col-md-2">
    <div class="imageupload">
    <img src="~/Uploads/@Model.Logo" width="100" height="50" alt="" class="img-responsive img-rounded">
    <br />
    <br/>
       
    <div>
        @Html.ActionLink("Upload logo", "Index", "Logos", new { partnerId = @Model.Id, error = "" }, htmlAttributes: new { @class = "btn btn-primary" })
    </div>
        </div>
    </div>

@section Scripts {
    @Scripts.Render("~/bundles/search")
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
}