@model OctagonPlatform.Models.Partner
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdminSB.cshtml";
}

<h3  class="alert-info">Partner: <strong class="alert-link">@Model.BusinessName</strong></h3>
<br />
<hr />
<br />

   <img src="~/Uploads/@Model.Logo" width="200" height="100" alt="" class="img-responsive img-rounded">

<div>
    @Html.ActionLink("Upload logo", "Index", "Logos", new { partnerId = @Model.Id, error = ""}, "")
</div>
<br/>
<hr />
<br />
<div id="generalInfo">
    @Html.Partial("Sections/GeneralInfo", Model)
</div>
<br/>
<hr />
<br />
<div id="contacts">
    @Html.Partial("Sections/Contacts", Model)
</div>
<br/>
<hr />
<br />
<div id="users">
    @Html.Partial("Sections/Users", Model)
</div>
<br/>
<hr />
<br />
<div id="partners">
    @Html.Partial("Sections/Partners", Model)
</div>
<hr />
<br />
<div id="bankAccounts">
    @Html.Partial("Sections/BankAccounts", Model)
</div>
<br/>
<hr />
<br />
<div id="terminals">
    @Html.Partial("Sections/Terminals", Model)
</div>
<br />
<hr />
<br />
@section Scripts {
    @Scripts.Render("~/bundles/search")
}