@using GridMvc.Html
@model IEnumerable<OctagonPlatform.Models.Partner>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdminSB.cshtml";
}

<div class="page-header">
    <h3 class="panel-title">List Partners</h3>
</div>
    <p>
        @Html.ActionLink("Add Partner", "Create", "Partners", routeValues:null, htmlAttributes: new{@class = "fa fa-plus fa-fw" })
    </p>
    @Html.Grid(Model).Columns(columns =>
    {

       

        columns.Add(m => m.Parent.BusinessName)
            .Titled("Parent Name")
            .SetWidth(100);

        columns.Add(m => m.BusinessName, "Bussines Name")
            .Titled("Company Name")
            .SetWidth(100);

        columns.Add(m => m.Address1, "Address")
            .Titled("Address")
            .SetWidth(100);

        columns.Add(m => m.Email, "Email Address")
            .Titled("Email")
            .SetWidth(100);

        columns.Add(m => m.WorkPhone, "Work Phone")
            .Titled("Work Phone")
            .SetWidth(100);

        columns.Add(m => m.Status, "Statuses")
            .Titled("Status")
            .SetWidth(100);


        columns.Add().Encoded(false).Sanitized(false).SetWidth(10).Titled("Edit")
            .RenderValueAs(m =>
                @<b>
                    @Html.ActionLink("Edit","Edit", new {id = m.Id}, new {@class = "fa fa-pencil fa-fw" })
                </b>);

        columns.Add().Encoded(false).Sanitized(false).SetWidth(10).Titled("Edit")
            .RenderValueAs(m =>
                @<b>
                    @Html.ActionLink("Delete", "Delete", new {id = m.Id}, new {@class = "fa fa-trash" })
                </b>);

        columns.Add().Encoded(false).Sanitized(false).SetWidth(10).Titled("Edit")
            .RenderValueAs(m =>
                @<b>
                    @Html.ActionLink("Details", "Details", new {id = m.Id})
                </b>);
    }
        ).WithPaging(50)

