@model OctagonPlatform.Models.Partner

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdminSB.cshtml";
}
<div class="container">
    <h3> List of Partners</h3>
    @Html.ActionLink(
        linkText: "Add Partner",
        actionName: "Create",
        controllerName: "Partners",
        routeValues: new
        {
            partnerId = int.Parse(Session["partnerId"].ToString())
        },
        htmlAttributes: new {@class= "btn btn-primary" }
        )
    <hr>
@*
<nav class="navbar navbar-default"> 
    <div class="container-fluid">
        
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active">@Html.ActionLink(
                                       linkText: "Add Partner",
                                       actionName: "Create",
                                       controllerName: "Partners",
                                       routeValues: new
                                       {
                                           partnerId = int.Parse(Session["partnerId"].ToString())
                                       },
                                       htmlAttributes: null
                                       )</li>
            </ul>
            <div class="form-group">
            <input type="text" class="form-control" id="searchPartner" placeholder="Search" name="search" />
            </div> 
        </div>
    </div>
</nav>
*@
<div class="alert-info">
    <h3>
        <strong>@ViewBag.Error</strong>
    </h3> 
</div>
<table id="partners" class="cell-border">
    
    <thead>
    <tr>
        
        <th>Business Name</th>
        <th>Parent</th>
        <th>Address</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Status</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>Details</th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.BusinessName</td>
            <td>@Model.Parent.BusinessName</td>
            <td>@Model.Address1</td>
            <td>@Model.Mobile</td>
            <td>@Model.Email</td>
            <td>@Model.Status</td>
            <td><i class="fa fa-pencil"style="font-size:16px;color:darkblue"></i> @Html.ActionLink("Edit", "Edit", new {id = Model.Id})</td>
            <td><i class="fa fa-trash"style="font-size:16px;color:red"></i> @Html.ActionLink("Delete", "Delete", new {id = Model.Id})
            </td>
            <td><i class="fa fa-list"style="font-size:16px;color:green"></i> @Html.ActionLink("Details", "Details", new {id = Model.Id})</td>


        </tr>
        @foreach (var item in Model.Partners)
        {
            if (!item.Deleted && item.Id != Model.Id)
            {
                <tr>
                    <td>@item.BusinessName</td>
                    <td>@item.Parent.BusinessName</td>
                    <td>@item.Address1</td>
                    <td>@item.Mobile</td>
                    <td>@item.Email</td>
                    <td>@item.Status</td>
                    <td><i class="fa fa-pencil" style="font-size:16px;color:darkblue";></i> @Html.ActionLink("Edit", "Edit", new {id = item.Id})</td>
                    <td><i class="fa fa-trash"style="font-size:16px;color:red"></i> @Html.ActionLink("Delete", "Delete", new {id = item.Id})
                    </td>
                    <td><i class="fa fa-list" style="font-size:16px;color:green"></i> @Html.ActionLink("Details", "Details", new {id = item.Id})</td>


                </tr>
            }
        }
    
    
    </tbody>
    </table>     
</div>       
@section Scripts {
    @Scripts.Render("~/bundles/search")
    @Scripts.Render("~/Scripts/jquery-1.10.2.js")
    <script>

        var jQuery_1_10_2 = $.noConflict(true);

        jQuery_1_10_2(function () {
            $("#partners").DataTable();
        });
    </script>

   
}



