@model OctagonPlatform.Models.FormsViewModels.CashLoadViewModel
@{
    ViewBag.Title = "CashLoad";
    string culturefile = "datepicker-" + ViewBag.Culture + ".json";

    string culturejsontext = System.IO.File.ReadAllText(Server.MapPath(@"~/Octagon/i18n/" + culturefile)).Replace("\r\n", "").Replace("\n", "").Replace("\r", "").Replace("\t", "");


    try
    {
        var tmpObj = Newtonsoft.Json.Linq.JToken.Parse(culturejsontext);
    }
    catch (FormatException fex)
    {
        culturejsontext = "{}";
    }

}
<p></p>
<div class="panel panel-primary">
    <div class="panel-heading">
        <a name="ankle"></a>
        <h3 class="panel-title">Filter Report Cash Load</h3>
    </div>
    <div class="panel-body">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.Partial("_PartialForm", Model)
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10" style="text-align: right;">
                    <input type="submit" value="Filter" class="btn btn-primary" />
                </div>
            </div>
        }

    </div>
</div>
@if (TempData["List"] != null)
{
    <div class="panel panel-primary" style="padding:0px;">
        <div class="panel-heading">
            <a name="ankle2"></a>
            <h3 class="panel-title">Chart Cash Load</h3>
        </div>
        <div class="panel-body">
            @Html.Partial("../_PartialMorrisChart")

        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">

            <span class="panel-title">List Cash Load</span>
            <span class="panel-title" style="float:right">Date: @DateTime.Now.ToShortDateString()</span>

        </div>
        <div class="panel-body">
            <div style="display:none" id="idhead">
                @Html.Partial("../_PartialHead", null, new ViewDataDictionary { { "Title", "Cash load" } })

            </div>
            @if (TempData["List"] != null)
            {
                <!-- Single button -->

                <div class="row">
                    <div class="col-sm-9"></div>
                    <div class="col-sm-3" style="text-align: right;">
                        <div class="btn-group" role="group" aria-label="...">
                            <button type="button" class="btn btn-danger" onclick="$('#pdf').click();" style="border-radius: 0px;"><i class="fa fa-file-pdf-o fa-2x" aria-hidden="true"></i> PDF</button>
                            <button type="button" class="btn btn-success" onclick="Export('@(TempData["filename"] + ".xls")'  ,'','grid','Portrait');" style="border-radius: 0px;"><i class="fa fa-file-excel-o fa-2x" aria-hidden="true"></i> XLS</button>
                            <button type="button" class="btn btn-primary" onclick="Export('@(TempData["filename"] + ".doc")'  ,'idhead','grid','Portrait');" style="border-radius: 0px;"><i class="fa fa-file-word-o fa-2x" aria-hidden="true"></i> DOC</button>

                        </div>
                        <p></p>
                    </div>
                </div>
            }
            @Html.Partial("../_PartialTable")
            @using (Html.BeginForm("Export", "Reports", FormMethod.Post))
            {
                <input type="hidden" name="html" />
                <input type="hidden" name="filename" value="@(TempData["filename"]+".pdf")" />
                <input type="hidden" name="orientation" value="Portrait" />
                <input type="submit" id="pdf" onclick="ExportPdf('idhead','grid');" value="" style="display:none" />

            }
            <div>
                @Html.ActionLink("Back to List", "Index")

            </div>
        </div>
    </div>
}
else
{
    <div class="alert alert-warning" style="width:50%;position:relative;margin:0 auto;">
        <strong>Warning!</strong> Not Record Available.
    </div>
}
@section Scripts {
    @Html.Partial("../ScriptsReport")
    <script>



    $(function () {
            var json_culture = @Html.Raw(culturejsontext);

            $("#StartDate").datepicker(json_culture);
            $("#EndDate").datepicker(json_culture);
       
        callankle();
        var tempdataval = '@TempData["List"]';
        if (tempdataval != null && tempdataval != '') {
            callankle2();
            ChartBar();

            var sum1 = 0, sum2 = 0, sum3 = 0;
            $("#grid tbody tr").find('td:eq(3)').each(function (index, val) {

                sum1 += $(this).html() * 1;
            });
            $("#grid tbody tr").find('td:eq(4)').each(function (index, val) {

                sum2 += $(this).html() * 1;
            });
            $("#grid tbody tr").find('td:eq(5)').each(function (index, val) {

                sum3 += $(this).html() * 1;
            });
            $('#grid tbody').append("<tr ><th></th><th></th><th>  </th><th >$" + sum1 + " </th><th >$" + sum2 + "</th><th >$" + sum3 + "</th></tr>");

            $("#grid tr").find('td:eq(3), td:eq(4), td:eq(5)').each(function (index, val) {
                $(this).html("$" + $(this).html());
            });


        }

    });


    </script>


}


