@model OctagonPlatform.Models.FormsViewModels.SubscriptionVM

@{
    ViewBag.Title = "Index";
}


<h2>Index</h2>


<figure class="highlight">
    @Html.Partial("../Error/_PartialAlert")
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <div class="form-group">
        @Html.LabelFor(model => model.User, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.User, new { htmlAttributes = new { @class = "form-control", @id = "user" } })
            @Html.HiddenFor(model => model.UserId, new { id = "userid" })
            @Html.ValidationMessageFor(model => model.User, "", new { @class = "text-danger" })
        </div>
    </div>

    <p>&nbsp;</p>
</figure>
<figure class="highlight">

    <div id="message"></div>
    <div id="SubscriptionList">@Html.Partial("Table", Model) </div>

</figure>


@section Scripts {
    @Scripts.Render("~/Scripts/autocomplete.js")

    @Scripts.Render("~/Scripts/jquery.validate.min.js")
    @Scripts.Render("~/Scripts/jquery.validate.unobtrusive.min.js")
    @Scripts.Render("~/Scripts/Subscription.js")

<script>
     var url = '@Url.Action("AutoUser", "Users")';
    var filterreport = '@Url.Action("FilterReport", "Subscription")';
    var filterreport2 = '@Url.Action("FilterReportEdit", "Subscription")';


    var list = '@Url.Action("List", "Subscription")';
     var url2 = '@Url.Action("Index", "Subscription", new RouteValueDictionary(new { a = 1 }), "http", string.Empty)';
</script>


}

