@model OctagonPlatform.Models.FormsViewModels.SubscriptionVM

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="form-group">
    @Html.LabelFor(model => model.User, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.User, new { htmlAttributes = new { @class = "form-control", @id = "user" } })
        @Html.HiddenFor(model => model.UserId, new { id = "userid" })
        @Html.ValidationMessageFor(model => model.User, "", new { @class = "text-danger" })
    </div>
</div>
<table class="table">
    <tr>
        <th>
            BusinessName
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailComment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ScheduledId)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.List)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PartnerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailComment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ScheduledId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>

<figure class="highlight">

    <div class="row">
        <div class="col-md-6">
            <h3>Report Selection</h3>  <hr />
            <div class="form-group">
                @Html.LabelFor(model => model.ReportId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("ReportId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ReportId, "", new { @class = "text-danger" })
                </div>
            </div>
            <div id="PartialFilter"> </div>      
        </div>
        <div class="col-md-6">
            <h3>Scheduling</h3>   <hr />
            @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.Partial("Create", Model)
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10" style="text-align: right;">
                <input type="submit" value="Filter" class="btn btn-primary" />
            </div>
        </div>
}
        </div>
    </div>
</figure>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/autocomplete.js")
<script>

        var urlautopartner = '@Url.Action("AutoPartner", "ReportsSmart")';
        var urlstate = '@Url.Action("AutoState", "ReportGroup")';
        var urlcity = '@Url.Action("AutoCity", "ReportGroup")';
        var urlzipcode = '@Url.Action("AutoZipCode", "ReportGroup")';
        var urlautoterminal = '@Url.Action("AutoTerminal", "ReportsSmart")';
        var urlautogroup = '@Url.Action("AutoGroup", "ReportsSmart")';
        var urlautoaccount = "";
         var urlautoschedule = '@Url.Action("AutoScheduled", "Schedule")';
         var urluser = '@Url.Action("AutoUser", "Users")';

    $(function () {


        // callankle();
        $("#ReportId").change(function () {
            var idreport = $(this).val();
            $.get('@Url.Action("FilterReport", "Subscription")', { id: idreport }, function (data) {
                $("#PartialFilter").html(data);
            });
        });

    });


</script>


}
