@model OctagonPlatform.Models.FormsViewModels.SubscriptionVM

@{
    ViewBag.Title = "Index";
}


<h2>Index</h2>


<figure class="highlight">
    @Html.Partial("../Error/_PartialAlert")
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <div class="form-group">
        @Html.LabelFor(model => model.User, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.User, new { htmlAttributes = new { @class = "form-control", @id = "user" } })
            @Html.HiddenFor(model => model.UserId, new { id = "userid" })
            @Html.ValidationMessageFor(model => model.User, "", new { @class = "text-danger" })
        </div>
    </div>
    <div id="SubscriptionList">@Html.Partial("Table", Model) </div>

</figure>
<figure class="highlight">

    <div id="message"></div>

    @using (Html.BeginForm("Create", "Subscription", FormMethod.Post, new { @id = "FormSub" }))
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-md-6">
                <h3>Report Selection</h3>  <hr />
                <div class="form-group">
                    @Html.LabelFor(model => model.ReportId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("ReportId", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ReportId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div id="PartialFilter"> </div>
            </div>
            <div class="col-md-6">
                <h3>Scheduling</h3>   <hr />


                @Html.Partial("Create", Model)
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10" style="text-align: right;">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </div>

            </div>
        </div>
        <input type="hidden" id="userId" name="userId" />
    }
</figure>


@section Scripts {
    @Scripts.Render("~/Scripts/autocomplete.js")

    @Scripts.Render("~/Scripts/jquery.validate.min.js")
    @Scripts.Render("~/Scripts/jquery.validate.unobtrusive.min.js")

<script>
     var url = '@Url.Action("AutoUser", "Users")';

    $(function () {


        // callankle();
        $("#ReportId").change(function () {
            var idreport = $(this).val();
            $("#PartialFilter").html("<div class='loader'></div>");
                $.get('@Url.Action("FilterReport", "Subscription")', { id: idreport }, function (data) {

                $("#PartialFilter").html(data);

                });
            });

        $('#user').autocomplete({
            source: url,
            select: function (event, ui) {

                $("#user").val(ui.item.label); // display the selected text
                $("#userid").val(ui.item.value); // save selected id to hidden input
                $.get('@Url.Action("List", "Subscription")', { userId: $("#userid").val() }, function (data) {

                    $("#SubscriptionList").html(data);
                });
                return false;
            }
        });
        $('#user').blur(function () {
            if ($('#user').val() == "") {
                $('#user').attr("placeholder", "< ALL >");
                $('#userid').val('');

               $.get('@Url.Action("List", "Subscription")', { userId: 0 }, function (data) {
                  // alert(data);
                    $("#SubscriptionList").html(data);
                });
            }

        });
            $('#FormSub').submit(function () {
               // var formData = $('#FormSub').serializeObject();
                $("#userId").val($("#userid").val());
                $("#message").html("<div class='loader'></div>");
                $.ajax({
                    url: this.action,
                    type: this.method,
                    data: $(this).serialize(),
                    success: function (data) {
                        alert(data);
                        var isSuccessful = (data['success']);
                      
                        if (isSuccessful) {
                              var url2 = '@Url.Action("Index", "Subscription", new RouteValueDictionary(new { a = 1 }), "http", string.Empty)';
                       
                            window.location.href = url2 + "&b=" + $("#userid").val();
                        }
                        else {
                            alert("ff");
                            var errors = data['errors'];
                            $("#message").html(' <div class="alert alert-danger"><strong>'+errors+'</strong> </div>');
                        }



                    },
                    error: function (xhr, status, error) {
                        // Show the error
                      alert(xhr.responseText);

                    }
                });


        return false;
    });


    });


</script>


}

