@model OctagonPlatform.Models.FormsViewModels.SubscriptionVM

<table class="table">
    <tr>
        <th>
            Report
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)

        </th>
        <th>
            Schedule
        </th>
        <th>
            Created By
        </th>
        <th>Next Run Date (CST)</th>
        <th>Last Run Date (CST)</th>
    </tr>

    @foreach (var item in Model.List)
    {
        <tr>
            <td>

                @Html.DisplayFor(modelItem => item.ReportName)

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>

                @Html.DisplayFor(modelItem => item.ScheduleName)

            </td>

            <td>

                @Html.DisplayFor(modelItem => item.Username)

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NextRunDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastRunDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })

                @Ajax.ActionLink(" ", "Delete", new { id = item.Id },
                   new AjaxOptions
                   {
                       HttpMethod = "POST",
                       UpdateTargetId = "SubscriptionList",
                       InsertionMode = InsertionMode.Replace,
                       Confirm = "Are you Sure You Want to Delete " + @item.ReportName
                   },
                   new { @class = "btn btn-danger glyphicon glyphicon-trash" })
            </td>
        </tr>
    }

</table>