@model OctagonPlatform.Models.FormsViewModels.UserLoginViewModel

@{
    @*ViewBag.Title = "Octagon";*@

ViewBag.Title = "Octagon";
Layout = "~/Views/Shared/_LayoutOctagon.cshtml";

}

<nav class="navbar navbar-default navbar-fixed-top" style="background-color:#ffffff;font-size:15px;padding:0px;">
    <div class="container">

        <div class="nav navbar-nav navbar-right">
            @using (Html.BeginForm("Login", "Account", FormMethod.Post))
            {
                <div class="form-group">
                    <div id="id01" class="modal">
                        <div class="containerlogin">
                            <form class="form-inline">
                                <div class="imgcontainer">
                                    <span onclick="document.getElementById('id01').style.display = 'none'" class="close" title="Close Modal">&times;</span>
                                </div>
                                <div class="">
                                    @Html.AntiForgeryToken()
                                    @Html.HiddenFor(m => m.TriesToLogin)
                                    @Html.ValidationSummary(true, "", new {@class = "text-warning"})
                                    <div>
                                        @Html.LabelFor(model => model.UserName);
                                        @Html.TextBoxFor(model => model.UserName, new {placeholder = "Enter Username"})
                                        @Html.ValidationMessageFor(model => model.UserName, "", new {@class = "text-danger"})
                                    </div>
                                    <div>
                                        @Html.LabelFor(model => model.Password);
                                        @Html.PasswordFor(model => model.Password, new {placeholder = "Enter Password"})
                                        @Html.ValidationMessageFor(model => model.Password, "", new {@class = "text-danger"})
                                    </div>
                                    <input type="submit" value="Login" class="btn btn-primary btn-block"/>
                                    <input type="checkbox" checked="checked"> Remember me
                                </div>
                                <div class="" style="background-color: #f1f1f1">
                                    <button type="button" onclick="document.getElementById('id01').style.display = 'none'" class="cancelbtn">Cancel</button>
                                    <span class="psw">Forgot <a href="#">Password?</a></span>
                                </div>
                            </form>
                        </div>
                    </div>
                    <script>
                        // Get the modal
                        var modal = document.getElementById('id01');

                        // When the user clicks anywhere outside of the modal, close it
                        window.onclick = function(event) {
                            if (event.target == modal) {
                                modal.style.display = "none";
                            }
                        }
                    </script>
                    <div class="container">
                        <div class="navbar-header">
                            <button data-toggle="collapse" data-target="#navcol-1" class="navbar-toggle collapsed" style="width: 45px;"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                            <a href="#" class="navbar-brand navbar-link" style="font-size: 35px; color: #222222; margin: -29px; height: 0px; padding: 28px; width: 238px;"><img src="~/Octagon/assets/img/favicon-32x32.png" id="logo"/><strong>Octagon </strong></a>

                        </div>
                        <div class="collapse navbar-collapse" id="navcol-1">
                            <ul class="nav navbar-nav navbar-right">

                                <li role="presentation"><a href="#contact" style="color: rgb(57, 65, 69);">Contact Us</a></li>
                                <li role="presentation"><a href="#" style="color: rgb(57, 65, 69);" onclick="document.getElementById('id01').style.display = 'block'">Login</a></li>
                                @* @Html.Partial("_LoginPartial") *@
                            </ul>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</nav>

<br/>
<br />
<br />
<br />

<div id="promo">
    <div class="jumbotron">
        <h1 style="color:rgb(120, 214, 249);">OCTAGON </h1>
        <p style="color:rgb(129,124,124); " font-family:Helvetica, 'Helvetica Neue'">The Future is Here</p>
        <p></p><a class="btn btn-default" role="button" href="#">Learn more</a>
    </div>
</div>
<div class="container site-section" id="middle">
    <hr />
    <h1 style="color:rgb(129,124,124);">OCTAGON </h1>
    <p>&nbsp;</p>
    <div class="row" style="background-color:rgba(255,255,255,0.247059);">
        <div class="col-md-4">
            <a href="">
                <img src="~/Octagon/assets/img/1.jpg" id="team" /> 
                <!--<h2 style="color:rgb(129,124,124);">TEAM</h2> <p>&nbsp;</p>-->
            </a>
        </div>

        <div class="col-md-4">
            <a href="">
                <img src="~/Octagon/assets/img/2.jpg" id="vision" style="color:rgb(129,124,124);" />
                <!--<h2 style="color:rgb(129,124,124);">VISION</h2> <p>&nbsp;</p>-->
            </a>
        </div>
        <div class="col-md-4">
            <a href="">
                <img src="~/Octagon/assets/img/3.jpg" id="innovation" /> 
                <!--<h2 style="color:rgb(129,124,124);">INNOVATION</h2> <p>&nbsp;</p>-->
            </a>
        </div>
    </div>
    <hr>
</div>
<div class="container-fluid" id="container-fluid">
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/MtCMtC50gwY" id="video" style="margin:17px;padding:-7px;background-color:#6bb1f2;"></iframe>
    </div>

    <hr>
    <div class="container">
        <a id="contact"> </a>
        <div class="modal fade" role="dialog" tabindex="-1" id="modal1">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                        <h4 class="modal-title">Contact Information</h4>
                    </div>
                    <div class="modal-body">
                        <form action="javascript:void();" method="get" id="contactForm">
                            <input class="form-control" type="hidden" name="Introduction" value="This email was sent from www.mywebsite.com" />
                            <input class="form-control" type="hidden" name="subject" value="My Contact Form" />
                            <input class="form-control" type="hidden" name="to" value="email@mywebsite.com" />
                            <div class="row">
                                <div class="col-md-6">
                                    <div id="modal-successfail"></div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
        <form action="javascript:void();" method="get" id="contactForm">
            <input class="form-control" type="hidden" name="Introduction" value="This email was sent from www.mywebsite.com" />
            <input class="form-control" type="hidden" name="subject" value="My Contact Form" />
            <input class="form-control" type="hidden" name="to" value="email@mywebsite.com" />
            <div class="row">
                <div class="col-md-6">
                    <div id="successfail"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6" id="message">
                    <fieldset>
                        <legend><i class="fa fa-envelope"></i> Contact Us</legend>
                    </fieldset>
                    <div class="form-group has-feedback">
                        <label class="control-label" for="from_name">Name</label>
                        <input class="form-control" type="text" name="from_name" required placeholder="Full Name" id="from_name" tabindex="-1" />
                    </div>
                    <div class="form-group has-feedback">
                        <label class="control-label" for="from_email">Email</label>
                        <input class="form-control" type="email" name="from_email" required placeholder="Email Address" id="from_email" />
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group has-feedback">
                                <label class="control-label" for="from_phone">Phone</label>
                                <input class="form-control" type="text" name="from_phone" placeholder="Primary Phone" id="from_phone" />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label" for="calltime">Best Time to Call</label>
                                <select class="form-control" name="Call Time" id="calltime">
                                    <option value="Morning" selected>Morning</option>
                                    <option value="Afternoon">Afternoon</option>
                                    <option value="Evening">Evening</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="comments">Comments</label>
                        <textarea class="form-control" rows="5" name="Comments" placeholder="Enter comments here" id="comments"></textarea>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-block" type="submit">Send <i class="fa fa-chevron-circle-right"></i></button>
                    </div>
                    <hr class="visible-xs-block visible-sm-block" />
                </div>
                <div class="col-md-6">
                    <fieldset>
                        <legend> <i class="fa fa-location-arrow"></i> Locate Us</legend>
                    </fieldset>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="static-map">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d93666.66700119132!2d-80.35707090460306!3d26.101985419973026!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88d909ef1c11bee7%3A0xb2b8236cfe237e1!2sOdyssey+Capital+Management!5e0!3m2!1sen!2sus!4v1507817531258" width="550" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <fieldset>
                                <legend><i class="fa fa-envelope"></i> Contact Us</legend>
                            </fieldset>
                            <div><span><strong>Name</strong></span></div>
                            <div><span>email@address.com</span></div>
                            <div><span>www.odysseygroupus.com/</span></div>
                            <hr class="visible-xs-block" />
                        </div>
                        <div class="col-sm-6">
                            <fieldset>
                                <legend><i class="fa fa-location-arrow"></i> Our Address</legend>
                            </fieldset>
                            <div><span><strong>Odyssey Group</strong></span></div>
                            <div><span>753 Shotgun Rd </span></div>
                            <div><span>Sunrise, FL 33326 </span></div>
                            <div>
                                <div><abbr data-toggle="tooltip" data-placement="top" title="Office Phone: 555-867-5309">O:</abbr>555-867-5309</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
