@model IEnumerable<OctagonPlatform.Models.BankAccount>

<nav class="navbar navbar-default">
    <div class="container-fluid">

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active">
                    @Html.ActionLink(
                        linkText: "Add BankAccount",
                        actionName: "Create",
                        controllerName: "BankAccount",
                        routeValues: new
                        {
                            partnerId = ViewBag.PartnerId
                        },
                        htmlAttributes: null
                        )
                </li>


            </ul>

        </div>
    </div>
</nav>
<p class="alert alert-info">
    <strong>@ViewBag.Error</strong>
</p>

<table class="table table-striped table-hover ">

    <thead>
    <tr>
        <th>NickName</th>
        <th>BankName</th>
        <th>RoutingNumber</th>
        <th>AccountNumber</th>
        <th>Name on Check</th>
        <th>Account Type</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody id="listOfPartners">
    @foreach (var item in Model)
    {
        if (!item.Deleted)
        {
            <tr class="info">
                <td>@item.NickName</td>
                <td>@item.BankName</td>
                <td>@item.RoutingNumber</td>
                <td>@item.AccountNumber</td>
                <td>@item.NameOnCheck</td>
                <td>@item.AccountType</td>
                <td>@item.Phone</td>
                <td>@item.Email</td>
                <td>@item.Status</td>
                <td>
                    <i class="glyphicon glyphicon-edit"></i>@Html.ActionLink(
                                                                linkText: "Edit",
                                                                actionName: "Edit",
                                                                controllerName: "BankAccount",
                                                                routeValues: new
                                                                {
                                                                    id = item.Id
                                                                },
                                                                htmlAttributes: null
                                                                )
                </td>
                <td>
                    <i class="glyphicon glyphicon-trash"></i>@Html.ActionLink(
                                                                 linkText: "Delete",
                                                                 actionName: "Delete",
                                                                 controllerName: "BankAccount",
                                                                 routeValues: new
                                                                 {
                                                                     id = item.Id
                                                                 },
                                                                 htmlAttributes: null
                                                                 )
                </td>
                <td>
                    <i class="glyphicon glyphicon-eye-open"></i>@Html.ActionLink(
                                                                    linkText: "Details",
                                                                    actionName: "Details",
                                                                    controllerName: "BankAccount",
                                                                    routeValues: new
                                                                    {
                                                                        id = item.Id
                                                                    },
                                                                    htmlAttributes: null
                                                                    )
                </td>
            </tr>
        }
    }
    </tbody>
</table>