@model OctagonPlatform.Models.Partner

<table class="table table-striped table-hover ">
    <tbody>
        <tr>

            <th>Business Name: </th>
            <th>@Model.BusinessName</th>
        </tr>
        <tr>

            <th>Parent:</th>
            <th>
                @{
                    if (Model.Parent != null)
                    {
                        <div>
                            Model.Parent.BusinessName;
                        </div>
                    }
                }
            </th>
        </tr>
        <tr>

            <th>Address1:</th>
            <th>@Model.Address1</th>
        </tr>
        <tr>

            <th>Address2:</th>
            <th>@Model.Address2</th>
        </tr>
        <tr>

            <th>Country:</th>
            <th>@Model.Country.Name</th>
        </tr>
        <tr>

            <th>State:</th>
            <th>@Model.State.Name</th>
        </tr>
        @if (Model.City != null)
        {
            <tr>

                <th>City:</th>
                <th>@Model.City.Name</th>
            </tr>
        }
        <tr>

            <th>Created At:</th>
            <th>@Model.CreatedAt</th>
        </tr>
        <tr>

            <th>Created By:</th>
            <th>@Model.CreatedByName</th>
        </tr>
        <tr>

            <th>Status:</th>
            <th>@Model.Status</th>
        </tr>
        <tr>

            <th>Email:</th>
            <th>@Model.Email</th>
        </tr>
        <tr>

            <th>Mobil:</th>
            <th>@Model.Mobile</th>
        </tr>
    </tbody>
</table>
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
        @{
            if (ViewBag.IsEditPartner)
            {
                <li>
                    @Html.ActionLink(
                               linkText: "Edit",
                               actionName: "Edit",
                               controllerName: "Partners",
                               routeValues: new
                               {
                                   Id = Model.Id
                               },
                               htmlAttributes: new { @class = "btn btn-primary" }
                               )
                </li>

            }

        }


    </ul>

</div>
