@using GridMvc.Html
@using System.Dynamic
@using System.Reflection;
@using System.Data;
@using OctagonPlatform.Models.FormsViewModels;

@{
    bool surcharge = ((MonthlyTransactionSummaryViewModel)TempData["model"]).Surcharge;
    

}
@if (TempData["List"] != null)
{
    <!-- Single button -->

    <div id="TableExport" class="row" style="overflow-y: scroll; height:600px;">

        <table class="table" id="grid" width="100%">
            <thead class="thead-blue">
                <tr>
                    <th>Terminal ID</th>
                    <th>Location Name</th>
                    <th>Surcharge Amount</th>
                    <th>Approved Withdrawals</th>
                    <th>Surchargable Withdrawals</th>
                    <th>Other Approved</th>
                    <th>Declined</th>
                    <th>Reversed</th>
                    <th>Total Transactions</th>
                    @{ if (surcharge)
                        {
                            <th>Surcharge</th>
                        }
                      
                    }

                </tr>
            </thead>

            <tbody>
                @{
                    var terminalId = "";
                    int i = 0;
                    int? sum1 = 0;
                    int? sum2 = 0;
                    int? sum3 = 0;
                    int? sum4 = 0;
                    int? sum5 = 0;
                    int? sum6 = 0;
                    double? sum7 = 0;
                    double? sum8 = 0;
                    List<OctagonPlatform.Views.ReportsSmart.ViewModels.TransMonthlyTableVM> list = (List<OctagonPlatform.Views.ReportsSmart.ViewModels.TransMonthlyTableVM>)TempData["List"];
                    OctagonPlatform.Views.ReportsSmart.ViewModels.TransMonthlyTableVM item;
                }
                @for (i = 0; i < list.Count(); i++)
                {
                    item = list[i];
                    terminalId = terminalId != item.TerminalId ? item.TerminalId : "";
                    if (terminalId != "")
                    {
                        if (i > 0)
                        {
                            <tr style="background-color: rgba(0,0,0,0.05);">
                                <td colspan="3"><b>Totals</b></td>
                                <td>@sum1</td>
                                <td>@sum2</td>
                                <td>@sum3</td>
                                <td>@sum4</td>
                                <td>@sum5</td>
                                <td>@sum6</td>
                                @{
                                    if (surcharge)
                                    {
                                        <td>@("$"+sum7)</td>
                                    }
                                    
                                }
                            </tr>
                        }
                       
                            sum1 = item.ApprovedWithdrawals;
                            sum2 = item.SurchargableWithdrawals;
                            sum3 = item.OtherApproved;
                            sum4 = item.Declined;
                            sum5 = item.Reversed;
                            sum6 = item.TotalTransaction;

                            if (surcharge)
                            {
                                sum7 = item.Surcharge;
                            }
                                              
                        <tr style="background-color: rgba(0,0,0,0.05);">
                            <td><b>@item.TerminalId</b></td>
                            <td><b>@item.LocationName</b></td>
                            <td><b>@item.SurchargeAmount</b></td>
                            @{
                                if (surcharge )
                                {
                                    <td colspan="8"></td>
                                }
                                else
                                {
                                    if (surcharge )
                                    {
                                        <td colspan="7"></td>
                                    }
                                    else
                                    {
                                        <td colspan="6"></td>
                                    }
                                }

                            }

                        </tr>
                        <tr>
                            <td colspan="3">@item.Date</td>
                            <td>@item.ApprovedWithdrawals</td>
                            <td>@item.SurchargableWithdrawals</td>
                            <td>@item.OtherApproved</td>
                            <td>@item.Declined</td>
                            <td>@item.Reversed</td>
                            <td>@item.TotalTransaction</td>
                            @{
                                if (surcharge)
                                {
                                    <td>@("$"+item.Surcharge)</td>
                                }
                                
                            }

                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td colspan="3">@item.Date</td>
                            <td>@item.ApprovedWithdrawals</td>
                            <td>@item.SurchargableWithdrawals</td>
                            <td>@item.OtherApproved</td>
                            <td>@item.Declined</td>
                            <td>@item.Reversed</td>
                            <td>@item.TotalTransaction</td>
                            @{
                                if (surcharge)
                                {
                                    <td>@("$"+item.Surcharge)</td>
                                }
                                
                            }

                            @{
                                sum1 += item.ApprovedWithdrawals;
                                sum2 += item.SurchargableWithdrawals;
                                sum3 += item.OtherApproved;
                                sum4 += item.Declined;
                                sum5 += item.Reversed;
                                sum6 += item.TotalTransaction;
                                if (surcharge)
                                {
                                    sum7 += item.Surcharge;
                                }
                               
                            }
                        </tr>
                    }
                }

                <tr style="background-color: rgba(0,0,0,0.05);">
                    <td colspan="3"><b>Totals</b></td>
                    <td>@sum1</td>
                    <td>@sum2</td>
                    <td>@sum3</td>
                    <td>@sum4</td>
                    <td>@sum5</td>
                    <td>@sum6</td>
                    @{
                        if (surcharge)
                        {
                            <td>@("$"+sum7)</td>
                        }
                       
                    }

                </tr>
            </tbody>

        </table>



    </div>
    <div id="myfirstchart" style="height: 100%;width:100%"></div>
    <p>&nbsp;</p>
    <p>&nbsp;</p>

}



