@model OctagonPlatform.Models.FormsViewModels.BAccountFVModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdminSB.cshtml";
}

<h3 class="alert-info">BankAccount Details</h3>

<div>
    <h4>BankAccount</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            City
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City.Name)
        </dd>

        <dt>
            Country
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Partner.BusinessName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Partner.BusinessName)
        </dd>

        <dt>
            State
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NickName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NickName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoutingNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoutingNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccountNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NameOnCheck)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameOnCheck)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FedTax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FedTax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ssn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ssn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Zip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccountType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountType)
        </dd>
    </dl>
</div>
<div class="form-group">
    <div class="col-lg-10 col-lg-offset-2">
        <button type="reset" onclick="history.back();" class="btn btn-default">Cancel</button>
        @Html.ActionLink(
            linkText: "Edit",
            actionName: "Edit",
            controllerName: "BankAccount",
            routeValues: new
            {
                Model.Id
            },
            htmlAttributes: new
            {
                @type = "submit",
                @class = "btn btn-primary"

            }
            )
    </div>
</div>