@model IEnumerable<OctagonPlatform.Models.FormsViewModels.BAccountFVModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdminSB.cshtml";
}
<h3 class="alert-info">List of BankAccounts</h3>
<nav class="navbar navbar-default"> 
    <div class="container-fluid">
        
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active">@Html.ActionLink(
                                       linkText: "Add BankAccount",
                                       actionName: "Create",
                                       controllerName: "BankAccount",
                                       routeValues: new
                                       {
                                           partnerId = 1
                                       },
                                       htmlAttributes: null
                                       )</li>
            </ul>
            <div class="form-group">
                <input type="text" class="form-control" id="searchPartner" placeholder="Search" name="search" />
            </div> 
        </div>
    </div>
</nav>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.City.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Country.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Partner.BusinessName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NickName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoutingNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccountNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NameOnCheck)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FedTax)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ssn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Zip)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccountType)
        </th>
        <th></th>
    </tr>
    <tbody id="listOfBA">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.City.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Partner.BusinessName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.State.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NickName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoutingNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NameOnCheck)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FedTax)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ssn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Zip)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountType)
                </td>
                    <td><i class="glyphicon glyphicon-edit"></i>@Html.ActionLink("Edit", "Edit", new {id = item.Id})</td>
                    <td><i class="glyphicon glyphicon-trash"></i>@Html.ActionLink("Delete", "Delete", new {id = item.Id})
                    </td>
                    <td><i class="glyphicon glyphicon-eye-open"></i>@Html.ActionLink("Details", "Details", new {id = item.Id})</td>
            </tr>
        }
    </tbody>
</table>
@section Scripts {
    @Scripts.Render("~/bundles/search")
}
