@*

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<title>@ViewBag.Title</title>
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")

@Styles.Render("~/Content/adminsb/vendor/bootstrap/css/bootstrap.min.css")
@Styles.Render("~/Content/adminsb/vendor/metisMenu/metisMenu.min.css")
@Styles.Render("~/Content/adminsb/dist/css/sb-admin-2.css")
@Styles.Render("~/Content/adminsb/vendor/morrisjs/morris.css")
@Styles.Render("~/Content/adminsb/vendor/font-awesome/css/font-awesome.min.css")



<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
   
*@


<!--VERSION ISMAEL-->

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<title>@ViewBag.Title </title>

@Scripts.Render("~/bundles/modernizr")


@Styles.Render("~/Octagon/assets/css/bootstrap.min.css")
@Styles.Render("~/Octagon/assets/vendor/metisMenu/metisMenu.min.css")
@Styles.Render("~/Octagon/assets/vendor/dist/css/sb-admin-2.css")
@Styles.Render("~/Octagon/assets/vendor/morrisjs/morris.css")
@Styles.Render("~/Octagon/assets/vendor/font-awesome/css/font-awesome.min.css")
@Styles.Render("~/Octagon/assets/css/Dashboard.css")
@Styles.Render("~/Content/datatables/css/datatables.bootstrap.css")
<link rel="icon" type="image/png" href="~/Octagon/assets/img/favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="~/Octagon/assets/img/favicon-16x16.png" sizes="16x16" />

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->