 @using Microsoft.AspNet.Identity
<!-- Navigation -->





<nav class="navbar navbar-default" role="navigation" style="margin-bottom: 0">
    <!-- /.navbar-header -->
    <div class="row">
        <div class="col-md-2" >
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div style="padding-top: 5px;padding-left: 55px;">
                <img src="~/Octagon/assets/img/logo.png" width="120">
                </div>
        </div>
        <div class="col-md-8" style="text-align:center;">
            <h1 class="businessName">ATM Managment Studio</h1>
        </div>
        <div class="col-md-2">
            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    @if (Request.IsAuthenticated)
                    {
                        @Html.AntiForgeryToken()
                        <a class="dropdown-toggle active" data-toggle="dropdown" href="@Url.Action("Index", "Dashboard")" aria-expanded="true">
                            <label>Hello, @User.Identity.GetUserName()</label>
                            <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user in">
                            <li>
                                <a href="#" class="active"><i class="fa fa-gear fa-fw"></i> Settings</a>
                            </li>
                            <li class="divider"></li>
                            <li>                                
                                @Html.AntiForgeryToken()
                                <a href="@Url.Action("Logout", "Account")" class="active">
                                    <i class="fa fa-sign-out fa-fw"></i> Logout
                                </a>
                            </li>
                        </ul>
                    }
                    else
                    {
                        <ul class="nav navbar-nav navbar-right">
                            <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                            <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                        </ul>
                    }
                </li>
                <!-- /.dropdown -->
            </ul>
        </div>
    </div>
    <!-- /.navbar-static-side -->
</nav>

