 @using Microsoft.AspNet.Identity
<!-- Navigation -->





<nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin-bottom: 0">
    <!-- /.navbar-header -->
    <div class="row">
        <div class="col-md-3 ">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img src="~/Octagon/assets/img/logo.png" width="120"></a>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
            </div>
        </div>
        <div class="col-md-6" style="text-align:center;">
            <h5>
                <a href="#"> 
                    <i class="fa fa-btc fa-fw" style="font-size:20px"></i>BTC/USD: </a> 
                <a></a>USD @Session["BTC"] &nbsp;&nbsp;&nbsp;
                <a href="#">
                    <img src="~/Octagon/assets/img/eth-16x16.png">
                    <i style="font-size: 20px"></i>ETH/USD:
                </a> 
                <a></a>USD @Session["ETH"] &nbsp;&nbsp;&nbsp;
                <a href="#">
                    <img src="~/Octagon/assets/img/ltc-16x16.png">
                    <i style="font-size: 20px"></i>LTC/USD:
                </a> 
                <a></a>USD @Session["LTC"] &nbsp;&nbsp;&nbsp;
            </h5>
            <h1>@Session["businessName"].ToString()</h1>
        </div>
        <div class="col-md-3">


            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">

                    @if (Request.IsAuthenticated)
                    {

                        @Html.AntiForgeryToken()
                        <a class="dropdown-toggle active" data-toggle="dropdown" href="@Url.Action("Index", "Dashboard")" aria-expanded="true">
                            <label>Hello, @User.Identity.GetUserName()</label>
                            <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                        </a>

                        <ul class="dropdown-menu dropdown-user in">
                            <!--<li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a> -->

                            <li>
                                <a href="#" class="active"><i class="fa fa-gear fa-fw"></i> Settings</a>
                            </li>
                            <li class="divider"></li>
                            <li>                                
                                @Html.AntiForgeryToken()
                                <a href="@Url.Action("Logout", "Account")" class="active">
                                    <i class="fa fa-sign-out fa-fw"></i> Logout
                                </a>
                            </li>
                        </ul>


                    }
                    else
                    {
                        <ul class="nav navbar-nav navbar-right">
                            <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                            <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                        </ul>
                    }



                    <!--    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                <label>Hello, Username</label>
                <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>

                <li>
                    <a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="#"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                </li>

            </ul>-->
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>

                </div>

    </div>

    @Html.Partial("Sections/Sidebar")
    <!-- /.navbar-static-side -->
</nav>
