<div id="left-sidebar" class="left-sidebar">
    <div style="">
    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li class="sidebar-search">
                    <div class="input-group custom-search-form">
                        <input type="text" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                    <!-- /input-group -->
                </li>
                <li>
                    <a href="@Url.Action("AMS", "Octagon", new { logo = ViewBag.Logo, businessName = ViewBag.BusinessName })">
                        <i class="fa fa-dashboard fa-fw"></i> AMS
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("BeComm", "Octagon", new { logo = ViewBag.Logo, businessName = ViewBag.BusinessName })">
                        <i class="fa fa-desktop fa-fw"></i> BeComm
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("CryptoXone", "Octagon", new { logo = ViewBag.Logo, businessName = ViewBag.BusinessName })">
                        <i class="fa fa-desktop fa-fw"></i> CryptoXone
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("AVT", "Octagon", new { logo = ViewBag.Logo, businessName = ViewBag.BusinessName })">
                        <i class="fa fa-desktop fa-fw"></i> AVT
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("DemMoney", "Octagon", new { logo = ViewBag.Logo, businessName = ViewBag.BusinessName })">
                        <i class="fa fa-desktop fa-fw"></i> DemMoney
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("CashEverywhere", "Octagon", new { logo = ViewBag.Logo, businessName = ViewBag.BusinessName })">
                        <i class="fa fa-desktop fa-fw"></i> CEW
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("VendBot", "Octagon", new { logo = ViewBag.Logo, businessName = ViewBag.BusinessName })">
                        <i class="fa fa-desktop fa-fw"></i> VendBot
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("MicroLoans", "Octagon", new { logo = ViewBag.Logo, businessName = ViewBag.BusinessName })">
                        <i class="fa fa-desktop fa-fw"></i> MFP
                    </a>
                </li>
            </ul>
        </div>
        <!-- /.sidebar-collapse -->

    </div>
    </div>
</div>