@model OctagonPlatform.Models.FormsViewModels.VaultCashFormViewModel


@using (Html.BeginForm(Model.Action, "VaultCash", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-group">

        @Html.HiddenFor(m => m.Id)
        <div class="form-group">
            @Html.LabelFor(m => m.BankAccountId)
            @Html.DropDownListFor(m => m.BankAccountId, new SelectList(Model.BankAccounts, "Id", "NickName"), "", new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.BankAccountId)
        </div>
        <div class="form-group">
            <input type="date" class="form-control" id="StartDate" name="StartDate" value="@Model.StartDate.ToString("yyyy-MM-dd")" />
        </div>
        <div class="form-group">
            <input type="date" class="form-control" id="StopDate" name="StopDate" value="@Model.StopDate.ToString("yyyy-MM-dd")" />
        </div>

        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <button type="reset" onclick="history.back();" class="btn btn-default">Cancel</button>
                <button type="submit" class="btn btn-primary">@Model.Action</button>
            </div>
        </div>
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


