@model OctagonPlatform.Models.FormsViewModels.UserFormViewModel

@{
    ViewBag.Title = "Add User";
    Layout = "~/Views/Shared/_LayoutAdminSB.cshtml";
}

@using (Html.BeginForm("Create", "Users"))
{
    <p class="alert alert-danger">
        All fields are <strong>required.</strong>
    </p>

    if (!string.IsNullOrEmpty(Model.Error))
    {
        <div class="alert alert-danger">
            @Model.Error.ToString()
        </div>
    }

    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.LabelFor(m => m.UserName)
        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", autofocus = "autofocus" })
        @Html.ValidationMessageFor(m => m.UserName)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Status)
        @Html.EnumDropDownListFor(m => m.Status, "", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Status)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.LastName)
        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", autofocus = "autofocus" })
        @Html.ValidationMessageFor(m => m.LastName)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", autofocus = "autofocus" })
        @Html.ValidationMessageFor(m => m.Email)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Phone)
        @Html.TextBoxFor(m => m.Phone, new { @class = "form-control", autofocus = "autofocus" })
        @Html.ValidationMessageFor(m => m.Phone)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.PartnerId)
        @Html.DropDownListFor(m => m.PartnerId, new SelectList(Model.Partners, "Id", "BusinessName"), "", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.PartnerId)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password, new { @class = "form-control", autofocus = "autofocus" })
        @Html.ValidationMessageFor(m => m.Password)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword)
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", autofocus = "autofocus" })
        @Html.ValidationMessageFor(m => m.ConfirmPassword)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.IsLocked)
        @Html.CheckBoxFor(m => m.IsLocked, new { @class = "form-control", autofocus = "autofocus" })
        @Html.ValidationMessageFor(m => m.IsLocked)
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
    #region Table of permissions

    <table class="table table-striped table-hover ">
        <thead>
            <tr>
                <th>SetOf</th>
                <th>All</th>
                <th>Create</th>
                <th>View</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.SetOfPermissions)
            {
                <tr>
                    <td>@Html.Label(item.Name)</td>
                    <td><input type="checkbox" name="Permissions" value=" " /></td>
                    <td><input type="checkbox" name="Permissions" value="@item.Permissions.FirstOrDefault(c=> c.SetOfPermissionId == item.Id && c.Type=="Create").Id" /></td>
                    <td><input type="checkbox" name="Permissions" value="@item.Permissions.FirstOrDefault(c=> c.SetOfPermissionId == item.Id && c.Type=="View").Id" /></td>
                    <td><input type="checkbox" name="Permissions" value="@item.Permissions.FirstOrDefault(c=> c.SetOfPermissionId == item.Id && c.Type=="Edit").Id" /></td>
                    <td><input type="checkbox" name="Permissions" value="@item.Permissions.FirstOrDefault(c=> c.SetOfPermissionId == item.Id && c.Type=="Delete").Id" /></td>

                    @*<td>@Html.CheckBox(item.Permissions.FirstOrDefault(c=> c.SetOfPermissionId == item.Id && c.Type=="Create").Name,true)</td>
                    <td>@Html.CheckBox(item.Permissions.FirstOrDefault(c => c.SetOfPermissionId == item.Id && c.Type == "View").Name)</td>
                    <td>@Html.CheckBox(item.Permissions.FirstOrDefault(c => c.SetOfPermissionId == item.Id && c.Type == "Edit").Name)</td>
                    <td>@Html.CheckBox(item.Permissions.FirstOrDefault(c => c.SetOfPermissionId == item.Id && c.Type == "Delete").Name)</td>*@
                </tr>
            }

    </table>

    #endregion
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
