@model OctagonPlatform.Models.User
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdminSB.cshtml";
}

<h1>User Details</h1>

<h2>Partner: @Model.Partner.BusinessName</h2>

<div id="logo">
    <img src="@Model.Partner.Logo" width="150" height="150" alt="Partner Logo" />
</div>

@Html.HiddenFor(m => m.Id)
<div id="generalInfo">
    @Html.Partial("Sections/GenralInfo")
</div>
BANKACCOUNT

@Ajax.ActionLink("Show Banks Accounts", "GetAllBankAccount", "Users", new AjaxOptions { UpdateTargetId = "addBankAccounts", InsertionMode = InsertionMode.Replace, HttpMethod = "POST" }, htmlAttributes: new { @class = "btn btn-primary", data_toggle = "collapse", data_target = "#addBankAccounts" })

<div id="addBankAccounts" class="panel-collapse collapse">
   
</div>
<div id="bankAccounts">
    
</div>
<div id="terminals">
    @Html.Partial("Sections/Terminals")
</div>
<div id="reports">
    @Html.Partial("Sections/Reports")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/user")

    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
}
