@model List<OctagonPlatform.Controllers.Reports.JSON.JsonLoadCash>

@{
    if (ViewBag.Error != null)
    {
        <p class="alert alert-danger">
            <strong>Error: @ViewBag.Error</strong>
        </p>
    }
}
    <table>
        <tbody>
            @{
                if (Model != null)
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>Last 30 days Loads</td>
                            <td>Type</td>
                            <td>Previous Balance</td>
                            <td>Load Amount</td>
                            <td>New Balance</td>
                        </tr>

                        <tr>
                            <td>
                                @item.Date
                            </td>
                            <td></td>
                            <td>
                                @item.AmountPrevius
                            </td>
                            <td>
                                @item.AmountLoad
                            </td>
                            <td>
                                @item.AmountCurrent
                            </td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>


