@model OctagonPlatform.Models.TerminalAlertConfig

<table class="table table-striped table-hover ">

    <tr class="info">

        <th>Inactive Period:</th>
        <th>@Model.InactivePeriod</th>
    </tr>
    <tr class="info">

        <th>Low Cash 1:</th>
        <th>@Model.LowCach1</th>
    </tr>
    <tr class="info">

        <th>Low Cash 2:</th>
        <th>@Model.LowCash2</th>
    </tr>
    <tr class="info">

        <th>Low Cash 3:</th>
        <th>@Model.LowCash3</th>
    </tr>
    <tbody>
        @foreach (var item in Model.MessagesToIgnored)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TerminalAlertConfig)
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
        <li>
            @Html.ActionLink(
                linkText: "Edit",
                actionName: "Edit",
                controllerName: "",
                routeValues: new
                {
                    Id = Model.Id
                },
                htmlAttributes: new { @class = "btn btn-primary" }
                )
        </li>


    </ul>

</div>

