@model OctagonPlatform.Models.FormsViewModels.TerminalDocumentsVM

    <div>
        @using (Html.BeginForm("SetDocuments", "Terminals", FormMethod.Post,
                                          new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <input type="hidden" id="indexTerminalId" name="IndexTerminalId" value="@Model.Id">

            <table>
                <tbody>
                    @{
                        foreach (var item in Model.Documents)
                        {
                            <tr>
                                <td>
                                     @item.Name
                                </td>
                                <td>
                                    @item.Category
                                </td>
                                <td>
                                    <button type="button" class="DocumentsDelete btn btn-info btn-microsoft" data-toggle="modal" data-id="@item.Id" data-target="#DeleteDocumentModal">Delete</button>
                                </td>
                            </tr>
                        }

                        <tr>
                            <td>Select File : </td>
                            <td>
                                @Html.TextBoxFor(model => model.Documents.FirstOrDefault().FileForm, new { type = "file" })
                                @Html.ValidationMessage("CustomError")
                            </td>
                        </tr>

                    }
                </tbody>
            </table>

            <input type="submit" value="Add" class="btn btn-default" />

                        }


        <div id="myModaDocumentsAdd" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Modal Header</h4>
                    </div>

                    <h3 class="alert-info">Edit</h3>

                    @using (Html.BeginForm("SetDocuments", "Terminals"))
                    {
                        @Model
                        @Html.AntiForgeryToken()
                        <input type="hidden" id="indexTerminalId" name="IndexTerminalId" value="@Model.Id">

                        <p class="alert alert-danger">
                            @ViewBag.Error
                        </p>
                        <div class="form-group">
                            <input type="text" id="notes" name="notes" value="">
                        </div>

                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-2">
                                <button type="reset" class="btn btn-default">Cancel</button>
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>

        <div id="DeleteDocumentModal" class="modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Delete Document</h4>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete this document? </p>
                    </div>
                    <div class="modal-footer">
                        @using (Html.BeginForm("DocumentDelete", "Terminals", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            <input type="hidden" id="id" name="id" value="@Model.Id">
                            @Html.HiddenFor(m => m.TerminalId)
                            @Html.HiddenFor(m=> m.Documents)
                            <input type="hidden" id="documentId" name="documentId" value="" />

                            <div class="form-group">
                                <input type="submit" value="Delete" class="btn btn-danger" id="confirm" />
                                <button type="reset" data-dismiss="modal" class="btn btn-default">Cancel</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

@Scripts.Render("~/Scripts/jquery-1.10.2.js")

<script>
    $(document).on("click", ".DocumentsDelete", function () {
        var passedID = $(this).data('id');
        $("#DeleteDocumentModal #documentId").val(passedID);
    });
</script>





