@model IEnumerable<OctagonPlatform.Models.Surcharge>

<div id="getSurcharge" class="panel-collapse collapse">
    @Ajax.ActionLink("ADD", "Create", "Surcharge", new { terminalId = ViewData["terminalId"]?.ToString() },
                   new AjaxOptions
                   {
                       UpdateTargetId = "AddSurcharge",
                       LoadingElementId = "loading3",
                       InsertionMode = InsertionMode.Replace,
                       HttpMethod = "Get"
                   },
                   htmlAttributes: new
                   {
                       @class = "btn btn-info",
                       data_toggle = "modal",
                       data_target = "#AddSurcharge"
                   })

    <table id="surcharges" class="table table-striped table-hover table-bordered">
        <thead class="thead-blue">
            <tr>
                <th>BankAccount</th>
                <th>BankName</th>
                <th>Split Amount</th>
                <th>Split Percentage</th>
                <th>Effective Date</th>
                <th>Stop Date</th>
            </tr>
        </thead>

        @if (Model != null)
        {

            foreach (var item in Model)
            {
                <tbody>
                    <tr>
                        <td>@item.BankAccount.NickName</td>
                        <td>@item.BankAccount.BankName</td>
                        <td>@item.SplitAmount</td>
                        <td>@item.SplitAmountPercent</td>
                        <td>@item.StartDate.ToShortDateString()</td>
                        <td>@item.StopDate.ToShortDateString()</td>
                        <td>
                            <i class="glyphicon glyphicon-edit"></i>@Html.ActionLink(
                                                                linkText: "Edit",
                                                                actionName: "Edit",
                                                                controllerName: "Surcharge",
                                                                routeValues: new
                                                                {
                                                                    id = item.Id
                                                                },
                                                                htmlAttributes: null
                                                                )
                        </td>
                        <td>
                            <i class="glyphicon glyphicon-trash"></i>@Html.ActionLink(
                                                                 linkText: "Delete",
                                                                 actionName: "Delete",
                                                                 controllerName: "Surcharge",
                                                                 routeValues: new
                                                                 {
                                                                     id = item.Id
                                                                 },
                                                                 htmlAttributes: null)
                        </td>

                    </tr>


                </tbody>

            }
        }

    </table>
</div>