<!DOCTYPE html>
<html>
<head>

    @Html.Partial("Sections/Header")
</head>
<body>
<div id="wrapper">
    @Html.Partial("Sections/NavBar")
    <div id="page-wrapper">
        @RenderBody()
    </div>
    @Html.Partial("Sections/Footer")
    <!-- /#page-wrapper -->
</div>
<!-- /#wrapper -->


@Html.Partial("Sections/Scripts")
@RenderSection("scripts", false)

</body>

</html>