<!DOCTYPE html>
<html>
<head>
    @Html.Partial("Sections/Header")
</head>
<body>
    <div id="wrapper">
        <!-- Navigation -->
        @Html.Partial("Sections/NavBar")
        <div id="page-wrapper" style="margin-top:90px;padding-top:5px;">

            @RenderBody()
        </div>
       
        <!-- /#page-wrapper -->
    </div>
    @Html.Partial("Sections/Footer")
    <!-- /#wrapper -->
    @Html.Partial("Sections/Scripts")
@RenderSection("scripts", required: false)
    @* @RenderSection("scripts", required: false)*@
</body>
</html>