<!DOCTYPE html>
<title>Octagon</title>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title </title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">

    @*@Styles.Render("~/Octagon/assets/css/bootstrap.min.css")
        @Styles.Render("~/Octagon/assets/css/styles.css")
        @Styles.Render("~/Octagon/assets/fonts/font-awesome.min.css")
        @Styles.Render("~/Octagon/assets/fonts/simple-line-icons.min.css")
        @Styles.Render("~/Octagon/assets/css/bootstrap.min.css")*@

    @Styles.Render("~/Content/home/css")

    <link rel="icon" type="image/png" href="~/Octagon/assets/img/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="~/Octagon/assets/img/favicon-16x16.png" sizes="16x16" />
    @*@Scripts.Render("~/Octagon/assets/js/jquery.min.js")*@
    @Scripts.Render("~/Scripts/jquery-3.1.1.min.js")
    @Scripts.Render("~/Octagon/assets/bootstrap/js/bootstrap.min.js")
</head>
<body>
    @RenderBody()

    <div class="footer">
        @Html.Partial("Sections/Footer")
    </div>

    @RenderSection("scripts", required: false)

</body>

</html>
