<!DOCTYPE html>
<html>
<head>
    @Html.Partial("Sections/Header")

    @Html.Partial("Sections/Scripts")
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body>
    <div id="wrapper">
        @Html.Partial("Sections/NavBar")
        <div class="row">
            <div class="col-md-2">@Html.Partial("Sections/Sidebar")</div>
            <div class="col-md-10">
                <div id="">
                    @RenderBody()
                </div>
            </div>
        </div>

        <!-- /#page-wrapper -->
    </div>
    <div class="footer">
        @Html.Partial("Sections/Footer")
    </div>
    <!-- /#wrapper -->

    @RenderSection("scripts", false)

</body>

</html>