@model IEnumerable<OctagonPlatform.Models.BankAccount>

<table class="table">
    <tr>
        <th>
            NickName
        </th>
        <th>
            RoutingNumber
        </th>
        <th>
            AccountNumber
        </th>
        <th>
            Status
        </th>
        <th>
            AccountType
        </th>
        <th></th>
    </tr>
    <tbody id="listOfBA">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NickName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoutingNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.AccountType)
                </td>
                <td>
                    <div>
                        @Ajax.ActionLink("Show Banks Accounts", "GetAllBankAccount", "Users", new { userId = Model.Id.ToString() }, new AjaxOptions { UpdateTargetId = "addBankAccounts", InsertionMode = InsertionMode.Replace, HttpMethod = "POST" }, htmlAttributes: new { @class = "link", data_toggle = "collapse", data_target = "#addBankAccounts" })
                    </div>

                </td>

            </tr>
        }
    </tbody>
</table>

